.scroll-to-top {
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color-contrast);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  transition:
    opacity 0.3s,
    transform 0.3s;
  i {
    transform: rotate(90deg);
  }

  &:hover {
    opacity: 1;
    transform: scale(1.1);
  }
}
