.pokemon-card {
  &__bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    filter: blur(25px);
    background-repeat: repeat;
    background-size: contain;
  }
  &.isWinner {
    &:after {
      content: "Victory";
      font-weight: 600;
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 1;
      top: 5px;
      right: -100px;
      transform: rotate(10deg);
      width: 400px;
      background: var(--success-color);
      box-shadow: inset 0 0 5px 1px var(--primary-color-gradient);
    }
  }

  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-width: 300px;
  max-width: 400px;
  //border: 1px solid red;
  z-index: 1;
  border-radius: 10px;
  position: relative;

  &__header {
    color: var(--text-color);
    text-shadow: 0 0 5px var(--text-color-contrast);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;

    &__image {
      width: calc(100% - 40px);
      height: 240px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }

    &__info {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;

      &__title {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        overflow: hidden;
        white-space: nowrap;

        &__species {
          font-size: 16px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &__name {
          font-size: 24px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    &__types {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      flex-shrink: 0;

      &__item {
        border: 3px solid #fff;
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
    }
  }

  &__description {
    width: 100%;
    background: var(--secondary-color-contrast);
    padding: 3px 15px;
    border-radius: 12px 0 12px 0;
    color: var(--text-color-dark);
    overflow: hidden;
    display: -webkit-box;

    height: calc(1.2em * 3 + 5px);
    overflow-y: auto;
    line-height: 1.2em;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__stats {
    margin-top: auto;

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    //padding: 10px 15px;
    &__item {
      display: flex;
      align-items: center;
    }
  }

  &__profile {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    &__item {
      display: flex;
      align-items: center;
    }
  }

  &__actions {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;
      //width: calc(50% - 1px);
      width: 100%;
      height: 50px;

      background: var(--secondary-color);
      color: var(--secondary-color-contrast);
      transition: all 0.2s ease-in-out;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;

      &:hover {
        color: var(--text-color);
        background: var(--highlight-color-dark);
      }
    }
  }
}
