.fight-result-container {
  height: 200px;
  table {
    thead {
      tr {
        height: 35px;
        position: sticky;
        top: -1px;
        background: var(--secondary-color);
        th {
          text-align: center;
        }
      }
    }
  }
}

@media (pointer: coarse) and (max-width: 968px) {
  .fight-result-container {
    height: unset;
    max-height: 200px;
  }
}
