.mobile-menu-trigger {
  display: none;
}
.header {
  position: relative;
  height: 100vh;
  width: 250px;
  background-color: var(--background-color-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 2px var(--secondary-color);
  transition: width 0.3s ease;

  &--collapsed {
    width: 100px;

    .collapsed__hidden {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
    }
  }

  &__logo {
    margin-top: 20px;
    width: calc(100% - 20px);
    height: 80px;
    border-radius: 10px;
    background-color: var(--primary-color);
    background: linear-gradient(
      338deg,
      var(--primary-color) 45%,
      var(--primary-color-gradient) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color-contrast);
    font-size: 36px;
  }

  &__menu {
    margin-top: 20px;
    flex: 1;
    width: 100%;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
      gap: 10px;
      .header--collapsed & {
        justify-content: center;
        gap: 0;
      }
      padding: 15px 20px;
      cursor: pointer;
      transition:
        background-color 0.3s ease,
        color 0.3s ease;
      color: var(--text-color-muted);

      &:hover {
        background-color: var(--accent-color);
        color: var(--accent-color-contrast);
      }
    }
  }

  &__action {
    width: 100%;
    padding: 10px 20px;

    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      gap: 10px;
      .header--collapsed & {
        gap: 0;
      }
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--primary-color);
      color: var(--primary-color-contrast);
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--highlight-color-dark);
      }
    }
  }
}

.collapsible-header-trigger {
  position: absolute;
  bottom: 50px;
  right: -20px;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--highlight-color-dark);
  }

  i {
    transition: all 0.2s ease;
    &.rotate-180 {
      transform: rotate(180deg);
    }
    color: var(--primary-color-contrast);
  }
}
@media (pointer: coarse) and (max-width: 968px) {
  .header {
    position: fixed;
    height: 100%;
    width: 300px;
    transform: translateX(-105%);
    z-index: 10;
    box-shadow: 2px 0 5px var(--secondary-color);
    transition: transform 0.3s ease;

    &--active {
      transform: translateX(0);
    }

    .collapsible-header-trigger {
      display: none;
    }
    &__menu {
      &-item {
        padding: 15px 10px;
        font-size: 18px;
      }
    }
  }

  .mobile-menu-trigger {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color-contrast);
    transition: all 0.2s ease;
    z-index: 11;
    border-radius: 0 0 0 5px;

    i {
      font-size: 32px;
    }
  }
}
